.green{
    background-color: rgb(34, 245, 6);
    border: 2px solid black;
}

.blueviolet{
    background-color: rgb(170, 99, 237);
    border: 2px solid black;
}

.red{
    background-color: red;
    border: 2px solid black;
}

.col{
    background-color: grey;
    border: 2px solid black;
}

